{{> _msg }}
<div id="colorlib-container">
    <div class="container">

        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">

                    <div class="col-md-12">
                        <h1 class="font_color"><b>Edit Shop</b></h1>
                        <hr>
                    </div>

                    <form method="POST" style="width:100%">
                        <div class="row form-group" style="margin:0;">
                            <div class="col-md-6" style="margin-bottom:2em;">
                                <label>Shop Image</label>
                                <img src="{{shop.dataValues.imageLocation}}" id="venImage"
                                    class="img-responsive shopImage" alt="Image">
                                <input type="file" id="venUpload" name="venUpload"
                                    accept="image/png,image/jpeg,image/jpg,image/gif">
                                <input id="imageURL" type="hidden" name="imageURL"
                                    value="{{shop.dataValues.imageLocation}}">
                            </div>

                            <div class="col-md-6">
                                <div class="desc">
                                    <p class="meta">
                                        <label>Shop Name</label>
                                        <input name="name" id="name" type="text" class="form-control marginBottom name-input" value="{{shop.dataValues.name}}"
                                            placeholder="Name" required>
                                        <label>Vendor</label>
                                        <input name="currentVendor" id="currentVendor" type="hidden" class="form-control" value="{{shop.dataValues.User.id}}">
                                        <select name="vendor" id="vendorSelect" type="text" class="form-control" required>
                                            <option value="{{shop.dataValues.User.id}}" selected>{{shop.dataValues.User.name}}</option>
                                            {{#each vendors}}
                                                <option value="{{dataValues.id}}">{{dataValues.name}}</option>
                                            {{/each}}
                                        </select>
                                        <hr>
                                        <label for="description">Description</label>
                                        <textarea id="description" name="description" class="form-control" rows="4" cols="50" placeholder="Description"
                                            required>{{shop.dataValues.description}}</textarea>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-bottom:4em;">
                                <div class="blog-entry">
                                    <h3 class="font_color"><b>Map</b></h3>
                                </div>
                                <hr>
                                <div id="map" style="margin-bottom:2em;"></div>
                                <label>Shop Address</label>
                                <input name="address" id="address" type="text" class="form-control"
                                    placeholder="Address" value="{{shop.address}}" required>
                                <input name="location" id="location" type="hidden" class="" value="">
                                <input name="latitude" id="latitude" type="hidden" class="" value="">
                                <input name="longitude" id="longitude" type="hidden" class="" value="">
                            </div>

                            <div class="col-md-12">
                                <input type="submit" name="action" value="Edit Shop" class="btn btn-primary btn-tall"
                                   id="updateShopButton" style="float:right;" disabled>       
                                </form>
                                <form method="POST" action="/admin/deleteShop/{{shop.id}}" style="width:100%" onsubmit="return confirm('Are you sure you want to delete this shop?');">
                                    <input type="submit" name="action" value="Delete Shop" class="btn btn-danger btn-tall" id="editShopButton"
                                        style="float:right;">
                                </form>
                            </div>
                        </div>
                    
                </div>
                <br>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <h1 class="font_color"><b>Edit Menu</b></h1>
                    <hr>
                </div>
        
                <div class="col-md-12 card-columns">
                    {{#each foodItems}}
                    <div style="" class="menuFood card p-3">
                        <div class="blog-img">
                            <img id="viewFoodImage" class="rounded mx-auto d-block img-responsive menuImage"
                                src="{{ this.dataValues.imageLocation }}" alt="Food Image">
                        </div>
                        <div class="text-center">
                            <h4 class="font_color" style="margin: 0; display: inline">
                                <b>{{ this.name }}</b>
                            </h4>
                            {{#if this.dataValues.isRecommended}}
                            &nbsp;<b style="font-size:23px;"><i
                                    class="fas fa-thumbs-up"></i></b>
                            {{/if}}
                            <p style="margin-bottom: 0.4em;">(code: {{ this.dataValues.id }})</p>
                            <h5><span class="thick">{{ this.dataValues.calories }}</span> kcal</h5>
                            <a href="/admin/editFoodItem/{{ this.dataValues.id }}"><i class="fas fa-edit"
                                    style="float:right;font-size:1.2em;"></i></a>
                        </div>
                    </div>
                    {{/each}}
                    <div style="" class="menuFood card p-3 text-center">
                        <a href="/admin/addFoodItem/{{shop.dataValues.id}}"><i href="/admin/addFoodItem?shopId={{shop.dataValues.id}}" class="fas fa-plus-square"
                                style="font-size: 70px;"></i>
                            <br>
                            <p style="display: inline"><b>Add Food Item</b></p>
                        </a>
                    </div>
                </div>
        
            </div>
        </div>

    </div>
</div>


<script>
    let shopLatitude = {{{ shop.dataValues.latitude }}}, shopLongitude = {{{ shop.dataValues.longitude }}};
    let oldElem = [], newElem = [];

    function initMap() {
        let shopLocation = { lat: shopLatitude, lng: shopLongitude };

        $("#location").val("{{{ shop.location }}}");
        $("#latitude").val(shopLatitude);
        $("#longitude").val(shopLongitude);

        let map = new google.maps.Map(document.getElementById('map'), { zoom: 14 });

        let shopIcon = {
            url: "/images/shop-marker.png",
            scaledSize: new google.maps.Size(27, 45),
        };

        let marker = new google.maps.Marker(
            {
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: shopLocation,
                icon: shopIcon
            }
        );

        let bounds = fitToMarker(marker);
        map.fitBounds(bounds);

        google.maps.event.addListener(marker, 'dragend', function () {
            $("#updateShopButton").attr("disabled", false);
            geocodePosition(marker.getPosition());
        });

        function geocodePosition(pos) {
            geocoder = new google.maps.Geocoder();
            geocoder.geocode(
                {
                    latLng: pos
                },
                function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#address").val(results[0].formatted_address);
                        $("#location").val(getCity(results));
                        $("#latitude").val(pos.lat());
                        $("#longitude").val(pos.lng());
                    }
                    else {
                        $("#mapErrorMsg").val('Cannot determine address at this location.' + status);
                    }
                }
            );
        }
    }

    function fitToMarker(marker) {
        let bounds = new google.maps.LatLngBounds();

        let latlng = marker.getPosition();
        bounds.extend(latlng);

        if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
            let extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.001, bounds.getNorthEast().lng() + 0.001);
            let extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.001, bounds.getNorthEast().lng() - 0.001);
            bounds.extend(extendPoint1);
            bounds.extend(extendPoint2);
        }

        return bounds;
    }

    function getCity(results) {
        if (results[1]) {
            let c, lc, component;
            for (let r = 0, rl = results.length; r < rl; r += 1) {
                let result = results[r];

                if (result.types[0] === 'neighborhood') {
                    for (c = 0, lc = result.address_components.length; c < lc; c += 1) {
                        component = result.address_components[c];

                        if (component.types[0] === 'neighborhood') {
                            return component.long_name;
                        }
                    }
                }
            }
        }
    }

    $('.form-control').each(function () {
        elem = $(this);
        oldElem.push(elem.val());
    });

    $('.form-control')
    .bind("propertychange change click keyup input paste", function (event) {
        newElem = [];
        $('.form-control').each(function () {
            let elem = $(this);
            newElem.push(elem.val());
        })

        if (JSON.stringify(oldElem) == JSON.stringify(newElem)) {
            $("#updateShopButton").attr("disabled", true);
        } else {
            $("#updateShopButton").attr("disabled", false);
        }
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3Y-44lgOHZmGOV9TXTDxJ2vb2e2R_Cg&callback=initMap" async
    defer></script>