{{> _msg }}
<div id="colorlib-container">
    <div class="container">

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <header id="summary-header">
                        <h1 class="font_color" style="display:inline-block;"><b>Available Vendors</b></h1>
                        <hr>
                        <table class="table">
                            <thead class="thead-green">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Vendor Email</th>
                                    <th scope="col">Vendor's Shops</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each groupedVendors}}
                            <tr>
                                <th scope="row">
                                    <form action="/admin/deleteVendor/{{0.dataValues.id}}" method="post">
                                        {{0.dataValues.name}} &nbsp;
                                        <button type="submit" name="action" value="Delete Vendor" class="btn-undelete hyperlink" data-toggle="confirmation" data-title="Confirm delete?">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </th>
                                <td>{{0.dataValues.email}}</td>
                                <td>
                                    {{#each this}}
                                        <u><a href="/admin/editShop/{{'Shops.id'}}/">{{'Shops.name'}}</a></u>{{#unless @last}}&nbsp;&nbsp;•&nbsp;&nbsp;{{/unless}}
                                    {{/each}}
                                </td>
                            </tr>
                            {{else}}
                                
                            {{/each}}
                            </tbody>
                        </table>
                    </header>
                </div>
            </div>
        </div>

        {{#if groupedDeletedVendors}}
            <div class="box1">
                <div class="row row-pb-md">
                    <div class="col-md-12">
                        <header id="summary-header">
                            <h1 class="font_color" style="display:inline-block;"><b>Deleted Vendors</b></h1>
                            <hr>
                            <table class="table table-hover">
                                <thead class="thead-green">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Vendor Email</th>
                                        <th scope="col">Vendor's Shops</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each groupedDeletedVendors}}
                                <tr>
                                    <th scope="row">
                                        <form action="/admin/undeleteVendor/{{0.dataValues.id}}" method="post">
                                            {{0.dataValues.name}} &nbsp;
                                            <button type="submit" name="action" value="Undelete Vendor" class="btn-undelete hyperlink" data-toggle="confirmation" data-title="Confirm undelete?">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </form>
                                    </th>
                                    <td>{{0.dataValues.email}}</td>
                                    <td>
                                        {{#each this}}
                                            <u><a href="#">{{'Shops.name'}}</a></u>{{#unless @last}}&nbsp;&nbsp;•&nbsp;&nbsp;{{/unless}}
                                        {{/each}}
                                    </td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </header>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
        
                    <header>
                        <h1 class="font_color"><b>Add Vendor</b></h1>
                        <hr>
                    </header>
        
                    <form method="post">
                        <div class="row form-group">
                            <div class="col-md-12" style="margin-bottom:1em;">
                                <input name="name" id="name" type="text" class="form-control name-input" value="{{form.dataValues.name}}" placeholder="Name" required>
                            </div>
        
                            <div class="col-md-12" style="margin-bottom:1em;">
                                <input name="email" id="email" type="email" class="form-control" value="{{form.dataValues.email}}" placeholder="Email" required>
                            </div>
        
                            <div class="col-md-6 password">
                                <input name="password" id="password" type="password" class="form-control delprefix"
                                    placeholder="Password" required>
                            </div>
        
                            <div class="col-md-6 confirm-password">
                                <input name="confirmPassword" id="confirmPassword" type="password"
                                    class="form-control delprefix" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <br>    
                        <input type="submit" name="action" value="Add New Vendor" class="btn btn-primary"
                            style="float:right;">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>