{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    {{#with FoodItem}}
                    <form id="edit-food-form" action="/user/editFood/{{'FoodLogs.id'}}" method="post">
                        <header id="summary-header">
                            <h1 class="font_color"><b>Edit Food Entry</b>
                            </h1>
                            <hr>
                        </header>
                        <div class="input-group">
                            <input name="codeToChange" id="codeToChange" class="form-control" type="number" value="" placeholder="Previous Entry: {{ name }} (code: {{ id }})">
                            <div class="input-group-btn">
                                <input type="submit" id="edit-button" class="btn btn-success" href="/user/editFood/{{'FoodLogs.id'}}" value="Update Entry" name="editAction" style="margin-left: 0.5em;" disabled>
                                <input type="submit" id="delete-button" class="btn btn-danger" href="/user/deleteFood/{{'FoodLogs.id'}}" value="Delete Food Entry" name="removeAction" onclick="remove_confirm()">
                            </div>
                        </div>
                    </form>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function remove_confirm() {
        if (confirm("Are you sure you want to remove the food entry?")) {
            document.getElementById("remove-button").value = "Delete Food Entry";
        } else {
            document.getElementById("remove-button").value = "Délete Food Entry";
            window.location.replace("editFood")
        }
    }

    $('#codeToChange')
    .bind("propertychange change click keyup input paste", function (event) {
        if ($('#codeToChange').val().length) {
            $("#edit-button").attr("disabled", false);
        } else {
            $("#edit-button").attr("disabled", true);
        }
    });
</script>