{{> _msg }}

<div id="colorlib-container">
    <div class="container">

        <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="addQuestionLabel"><b>Ask a Question</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form action="" method="post" id="faq">
                        <div class="modal-body">

                            <label class="font-italic" for="title">Title</label>
                            <input id="title" type="text" class="form-control" name="title" required>

                            <div class="row form-group" style="padding-top: 10px;">
                                <div class="col-md-12">
                                    <label class="font-italic" for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description"
                                        rows="3"></textarea>
                                </div>
                            </div>

                        </div>

                        {{!-- <div class="modal-footer ajaxErrBlock" id="refCodeErrBlock">
                            <i class="fas fa-exclamation-triangle"></i><span class="ajaxErrMsg" id="refCodeErrMsg"></span>
                        </div> --}}
                        <div class="modal-footer">
                            <input type="submit" value="Submit Question" id="" class="btn btn-primary"
                                style="width:100%">
                        </div>
                    </form>

                </div>
            </div>
        </div>




        <div class="modal fade" id="improveAns" tabindex="-1" role="dialog" aria-labelledby="improveAnsLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="improveAnsLabel"><b>Improve This Question</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form action="/user/saveEditedQuestion/{{question.id}}" method="post">
			          <input type="hidden" name="_method" value="PUT">
                        <div class="modal-body">

                            <label class="font-italic" for="title">Title</label>
                            <input id="title" type="text" class="form-control" name="title" value="{{question.title}}">

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-italic" for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description"
                                        rows="3">{{question.description}}</textarea>
                                </div>
                            </div>

                        </div>

                        {{!-- <div class="modal-footer ajaxErrBlock" id="refCodeErrBlock">
                            <i class="fas fa-exclamation-triangle"></i><span class="ajaxErrMsg" id="refCodeErrMsg"></span>
                        </div> --}}
                        <div class="modal-footer">
                            <input type="submit" value="Submit Suggestion" id="" class="btn btn-primary"
                                style="width:100%">
                        </div>
                    </form>

                </div>
            </div>
        </div>



        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">


                    <h1 class="font_color" style="display:inline-block"><b>Frequently Asked Questions</b></h1>
                    {{!-- <i class="fas fa-filter" style="float:right;">Filter</i> --}}

                    <a class="modal-action" data-toggle="modal" data-target="#addQuestion" style="float:right;">
                        <input type="submit" name="action" value="Ask a Question" class="btn btn-primary"
                            style="background-color: #4CAF50;">
                    </a>

                    <hr>
                    {{#if questions}}
                    {{#each questions}}

                    <div class="card mb-2 w-100 mx-auto" style="border-radius: 0;">

                        <div class="card-header" style="padding-bottom: 3px;">
                            {{!-- {{#ifCond id '==' ../user.id}} --}}
                            <form method="post" action="/user/deleteQuestion/{{id}}" style="width:100%"
                                onsubmit="return confirm('Are you sure you want to delete this question?');">
                                <input type="submit" value="Delete" class="btn btn-primary" style="float:right; font-size: 12px; border-radius: 30px;">
                            </form>
                            {{!-- {{/ifCond}} --}}
                            {{!-- {{#ifCond id '!=' ../user.id}}
                            <form method="" action="" style="width:100%"
                                onsubmit="return confirm('You are not allowed to delete this question!');">
                                <input type="submit" value="Delete" class="btn btn-primary" style="float:right; font-size: 12px; border-radius: 30px;">
                            </form>
                            {{/ifCond}} --}}

                            {{!-- <a class="modal-action" data-toggle="modal" data-target="#suggestAns" style="float:right;">
                                <input type="submit" name="action" value="Suggest An Answer" class="btn btn-primary"
                                style="background-color: #4CAF50; border-radius: 30px; font-size: 12px;">
                            </a> --}}

                            <a href="/user/editQuestion" style="float:right;">
                            <input type="submit" name="action" value="Improve this question" class="btn btn-primary"
                            style="background-color: #4CAF50; border-radius: 30px; font-size: 12px;">
                            </a>


                            <h4 style="padding: 3px 0 0 10px;" class="card-title"><b>{{title}}</b></h4>
                        </div>

                        <div class="row" style="padding-left: 20px; padding-right: 20px;">
                            <div class="col-sm-6 col-md-6 col-lg-12">
                                <h6><br>{{description}}</h6>
                            </div>
                        </div>

                        <div class="accordion" id="storyAccordion{{id}}">
                            <div class="card-header" id="headingOne{{id}}" style="padding: 0;">
                                <button class="btn btn-none hyperlink" type="button" data-toggle="collapse"
                                    data-target="#collapseOne{{id}}" aria-expanded="false"
                                    aria-controls="collapseOne{{id}}">
                                    Suggested Answer &nbsp;<i class="fas fa-chevron-down"></i>
                                </button>

                            </div>

                            <div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne{{id}}"
                                data-parent="#storyAccordion{{id}}">
                                <div class="card-body">
                                    {{#if suggestion}}
                                        {{suggestion}}
                                    {{else}}
                                        <h5><b>No suggestion has been provided!</b></h5>
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                    </div>

                    {{/each}}
                    {{else}}
                    <h3>No questions asked</h3>
                    {{/if}}

                    


                    {{!-- <h3><b class="font_color">What is BMI?</b></h3>
                    <p>BMI is person's weight in kilograms (kg) divided by his or her height in meter squared. The
                        National Institute of Health (NIH) now defines normal weight, overweight and obesity according
                        to BMI rather than the traditional height/weight charts. Overweight is a BMI of 23 for an
                        average person.</p>
                    <hr>

                    <h3><b class="font_color">What are calories?</b></h3>
                    <p>A calorie is a unit of energy. In nutrition, calories refer to the energy people get from the
                        food and drink they consume, and the energy they use in physical activity.</p>
                    <hr>

                    <h3><b class="font_color">Can I become healthy by dieting?</b></h3>
                    <p>Yes, beginning a diet to lose weight and improve health is a worthy goal, but it can be a bit
                        overwhelming. There are bound to be challenges whenever you start something new, especially when
                        it involves something you do several times each day like eating and drinking. Still, as long as
                        you don't try to change everything at once, you can meet your weight loss goals.
                    </p>

                    <form method="get" id="answer-link" action="#">
                        <hr>
                        <h3><b class="font_color"> When I eat more than I need what happens to the extra calories? </b> - Megan </h3>
                        <div></div>
                        <p><b> Not answered yet </b></p>
                        <input type="submit" value="Suggest An Answer" name="#" class="btn btn-primary">
                    </form>

                    <hr>

                    {{#each question}}
                    <h3><b class="font_color">{{question}}</b></h3>
                    {{/each}}
                   
                    <br>
                    <hr>

                    <form method="post" action="" id="query-form">
                        <label for="query">Question</label>
                        <textarea id="query" name="query" form="query-form" class="form-control" rows="4" cols="50"
                            required></textarea><br>
                        <input type="submit" id="submit-query" value="Submit A Question"
                            name="#" class="btn btn-primary">
                    </form> --}}

                </div>
            </div>
        </div>
    </div>
</div>

<script>




</script>

    