{{> _msg }}
<div id="colorlib-container">
    <div class="container">

        <div class="modal fade" id="editFoodModal" tabindex="-1" role="dialog" aria-labelledby="editFoodModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="editFoodModalLabel"><b>Edit Food Item</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="edit-food-form" action="" method="post">
                        <div class="modal-body">
                            <input name="codeToChange" id="codeToChange" class="form-control" type="number" value="">
                        </div>

                        <div class="modal-footer">
                            <input type="submit" id="edit-button" class="btn btn-success edit-button" href=""
                                value="Update Entry" name="editAction" style="margin-left: 0.5em; padding: 8px 20px;" disabled>
                    </form>

                    <form id="delete-food-form" action="" method="post">
                            <input type="submit" id="delete-button" class="btn btn-danger edit-button" href=""
                                value="Delete Food Entry" name="removeAction" style="padding: 8px 20px;">
                        </div>
                    </form>                       
                </div>
            </div>
        </div>


        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <header id="summary-header">
                        <h1 class="font_color"><b>Add Food Code</b></h1>
                        <hr>
                    </header>

                    <form method="post" action="/user/addFood" class="addFoodForm">
                        <div class="input-group">
                            <input name="userFoodCode" id="code" class="form-control" value=""
                                type="number" placeholder="Food Code (eg: 000001)" required="">
                            <span class="input-group-btn">
                                <input type="submit" name="addFood" value="Add Food" class="btn btn-primary btn-tall addFoodButton"
                                    style="margin-left: 0.5em;">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <form method="post" action="/user/foodJournal" class="searchDateForm">
                        <header id="summary-header">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h1 class="font_color"><b>Food History</b></h1>
                                    </div>
                                
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input type="date" name="searchDate" id="searchDate" class="form-control" value="{{searchDate}}" min="2005-01-01" max="2030-12-31" required>
                                            <span class="input-group-btn">
                                                <input type="submit" name="action" value="Search Date" class="btn btn-primary btn-tall searchDateButton" style="margin-left: 0.5em;">
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            <hr>
                        </header>
                    </form>


                    <div id="accordion">
                        {{#if searchDate}} <a href="/user/foodJournal/"><i class="fas fa-undo" style="float:right;">&nbsp Reset Search</i></a> {{/if}}

                        {{#each datesWithFood}}
                        
                            <div class="date-meal"> 
                                <h2> <b>{{formatDate @key 'Do MMMM (dddd)'}}</b> </h2>
                                <hr align="left" width="5%">
                                <div class="row" style="padding-bottom: 1em;">

                                    <div class="col-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Breakfast</b> (6am - 10am)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                {{#if this.Breakfast}}
                                                    {{#each this.Breakfast}}
                                                        <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                        <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                        <p style="margin-bottom: 0">(code: {{id}})</p>
                                                        <p>
                                                            {{calories}} calories
                                                            <br>
                                                            <a id="{{'FoodLogs.id'}}" class="action" foodItemId="{{id}}" foodName="{{name}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                                data-toggle="modal" data-target="#editFoodModal">
                                                                <i class="far fa-edit hyperlink"></i> <i class="hyperlink">Edit</i>
                                                            </a>
                                                        </p>
                                                    {{/each}}
                                                {{else}}
                                                    <h5 style="margin-bottom: 0; display: inline"><b>No breakfast consumed</b></h5>
                                                {{/if}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Lunch</b> (12pm - 3pm)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#if this.Lunch}}
                                                        {{#each this.Lunch}}
                                                        <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                        <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                        <p style="margin-bottom: 0">(code: {{id}})</p>
                                                        <p>
                                                            {{calories}} calories
                                                            <br>
                                                            <a id="{{'FoodLogs.id'}}" class="action" foodItemId="{{id}}" foodName="{{name}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                                data-toggle="modal" data-target="#editFoodModal">
                                                                <i class="far fa-edit hyperlink"></i> <i class="hyperlink">Edit</i>
                                                            </a>
                                                        </p>
                                                        {{/each}}
                                                    {{else}}
                                                    <h5 style="margin-bottom: 0; display: inline"><b>No lunch consumed</b></h5>
                                                    {{/if}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Dinner</b> (6pm - 10pm)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#if this.Dinner}}
                                                        {{#each this.Dinner}}
                                                        <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                        <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                        <p style="margin-bottom: 0">(code: {{id}})</p>
                                                        <p>
                                                            {{calories}} calories
                                                            <br>
                                                            <a id="{{'FoodLogs.id'}}" class="action" foodItemId="{{id}}" foodName="{{name}}" logCreatedAt="{{'FoodLogs.createdAt'}}" data-toggle="modal" data-target="#editFoodModal">
                                                                <i class="far fa-edit hyperlink"></i> <i class="hyperlink">Edit</i>
                                                            </a>
                                                        </p>
                                                        {{/each}}
                                                    {{else}}
                                                    <h5 style="margin-bottom: 0; display: inline"><b>No dinner consumed</b></h5>
                                                    {{/if}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Snacks</b></h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#if this.Snacks}}
                                                        {{#each this.Snacks}}
                                                        <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                        <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                        <p style="margin-bottom: 0">(code: {{id}})</p>
                                                        <p>
                                                            {{calories}} calories
                                                            <br>
                                                            <a id="{{'FoodLogs.id'}}" class="action" foodItemId="{{id}}" foodName="{{name}}" logCreatedAt="{{'FoodLogs.createdAt'}}" data-toggle="modal" data-target="#editFoodModal">
                                                                <i class="far fa-edit hyperlink"></i> <i class="hyperlink">Edit</i>
                                                            </a>
                                                        </p>
                                                        {{/each}}
                                                    {{else}}
                                                    <h5 style="margin-bottom: 0; display: inline"><b>No snacks consumed</b></h5>
                                                    {{/if}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                </div>
                                <h5 style="padding-top: 20px;">Total calories consumed: <b> {{this.dailyCalories}} </b> kcal </h5>
                                <hr>

                        {{else}}
                            {{#if searchDate}}
                                <h4 id="current_location">There was no food found on that date!</b></h4>
                            {{else}}
                                <h4 id="current_location">You have not added any food yet!</b></h4>
                            {{/if}}
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.action')
    .bind("click keyup", function (event) {
        var logId = jQuery(this).attr("id");
        var logCreatedAt = jQuery(this).attr("logCreatedAt");
        var foodName = jQuery(this).attr("foodName");
        var foodItemId = jQuery(this).attr("foodItemId");

        $('#codeToChange').attr("placeholder", `Previous Entry: ${foodName} (code: ${foodItemId})`);
        $('#edit-food-form').attr("action", `/user/editFood/${logId}`);
        $('#delete-food-form').attr("action", `/user/deleteFood/${logId}`);
    });

    $('#codeToChange')
    .bind("propertychange change click keyup input paste", function (event) {
        if ($('#codeToChange').val().length) {
            $("#edit-button").attr("disabled", false);
        } else {
            $("#edit-button").attr("disabled", true);
        }
    });
</script>