{{> _msg }}
<div id="colorlib-container">
    <div class="container">


        <div class="modal fade" id="viewFoodModal" tabindex="-1" role="dialog" aria-labelledby="viewFoodModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="viewFoodModalLabel"><b>Details Of Food Item</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="blog-img" style="overflow:hidden;">
                            <img id="viewFoodImage" class="rounded mx-auto d-block img-responsive menuImage" src="" alt="Food Image">
                        </div>
                        <div class="text-center">
                            <h2 style="margin:0;"><b id="viewFoodName">Food Name</b></h2>
                            (code: <span id="viewFoodId">0</span>)
                            <h5><b id="viewFoodCalories">0</b> kcal</h5>
                        </div>
                    </div>
    
                    <div class="modal-footer" style="display:block;">
                        From the following shop: <i><a id="viewFoodShop" href="/user/shops/">Shop</a></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="editFoodModal" tabindex="-1" role="dialog" aria-labelledby="editFoodModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="editFoodModalLabel"><b>Edit Food Item</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="edit-food-form" action="" method="post">
                        <div class="modal-body">
                            <input name="codeToChange" id="codeToChange" class="form-control" type="number" value="" required>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" id="edit-button" class="btn btn-success edit-button" href=""
                                value="Update Entry" name="editAction" style="margin-left: 0.5em; padding: 8px 20px;">
                    </form>

                    <form id="delete-food-form" action="" method="post">
                            <input type="submit" id="delete-button" class="btn btn-danger edit-button" href=""
                                value="Delete Food Entry" name="removeAction" style="padding: 8px 20px;">
                        </div>
                    </form>                       
                </div>
            </div>
        </div>


        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <header id="summary-header">
                        <h1 class="font_color"><b>Add Food Item</b></h1>
                        <hr>
                    </header>

                    <form method="post" action="/user/addFood" class="addFoodForm">
                        <div class="input-group">
                            <input name="foodInput" id="foodInput" class="form-control" value="" type="text" placeholder="Eg: Aglio Olio, 000012, 8..."
                                required="">
                            <input name="userFoodCode" id="userFoodCode" class="form-control invisible" value="0" type="number" required="">
                            <span class="input-group-btn">
                                <input type="submit" name="addFood" value="Add Food" class="btn btn-primary btn-tall addFoodButton"
                                    style="margin-left: 0.5em;">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <form method="post" action="/user/foodJournal" class="searchDateForm">
                        <header id="summary-header">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="font_color"><b>Food History</b></h1>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="date" name="searchDate" id="searchDate" class="form-control" value="{{searchDate}}" min="2005-01-01" max="2030-12-31" required>
                                        <span class="input-group-btn">
                                            <input type="submit" name="action" value="Search Date" class="btn btn-primary btn-tall searchDateButton" style="margin-left: 0.5em;">
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                        </header>
                    </form>


                    <div id="accordion">
                        {{#if searchDate}} <a href="/user/foodJournal/"><i class="fas fa-undo" style="float:right;">&nbsp Reset Search</i></a> {{/if}}

                        {{#each groupedFoodItems}}
                        
                            <div class="date-meal"> 
                                <h2> <b style="font-weight: 600;">{{formatDate @key 'Do MMMM (dddd)'}}</b> </h2>
                                <hr align="left" width="5%">
                                <div class="row" style="padding-bottom: 1em;">

                                    <div class="col-sm-12 col-md-6 col-lg-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Breakfast</b> (6am - 10am)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#each this.Breakfast}}

                                                        <div class="foodItemLog" logId="{{'FoodLogs.id'}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                        foodItemId="{{id}}" foodName="{{name}}" foodCalories="{{calories}}" foodImage="{{imageLocation}}"
                                                        shopId="{{'Shop.id'}}" shopName="{{'Shop.name'}}">
                                                        <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                        <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                        <p>
                                                            {{calories}} kcal
                                                            <br>
                                                            <a class="modal-action" data-toggle="modal" data-target="#viewFoodModal">
                                                                <i class="fas fa-eye hyperlink"></i>&nbsp;<span class="hyperlink">Details</span>
                                                            </a>
                                                            &nbsp;
                                                            <a class="modal-action" data-toggle="modal" data-target="#editFoodModal">
                                                                <i class="far fa-edit hyperlink"></i>&nbsp;<span class="hyperlink">Edit</span>
                                                            </a>
                                                        </p>
                                                        </div>

                                                    {{else}}
                                                        <h5 style="margin-bottom: 0; display: inline"><b>No breakfast consumed</b></h5>
                                                    {{/each}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Lunch</b> (12pm - 3pm)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#each this.Lunch}}

                                                        <div class="foodItemLog" logId="{{'FoodLogs.id'}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                        foodItemId="{{id}}" foodName="{{name}}" foodCalories="{{calories}}" foodImage="{{imageLocation}}"
                                                        shopId="{{'Shop.id'}}" shopName="{{'Shop.name'}}">
                                                            <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                            <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                            <p>
                                                                {{calories}} kcal
                                                                <br>
                                                                <a class="modal-action" data-toggle="modal" data-target="#viewFoodModal">
                                                                    <i class="fas fa-eye hyperlink"></i>&nbsp;<span class="hyperlink">Details</span>
                                                                </a>
                                                                &nbsp;
                                                                <a class="modal-action" data-toggle="modal" data-target="#editFoodModal">
                                                                    <i class="far fa-edit hyperlink"></i>&nbsp;<span class="hyperlink">Edit</span>
                                                                </a>
                                                            </p>
                                                        </div>

                                                    {{else}}
                                                        <h5 style="margin-bottom: 0; display: inline"><b>No lunch consumed</b></h5>
                                                    {{/each}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 meal-type">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Dinner</b> (6pm - 10pm)</h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection">
                                                    {{#each this.Dinner}}

                                                        <div class="foodItemLog" logId="{{'FoodLogs.id'}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                        foodItemId="{{id}}" foodName="{{name}}" foodCalories="{{calories}}" foodImage="{{imageLocation}}"
                                                        shopId="{{'Shop.id'}}" shopName="{{'Shop.name'}}">
                                                            <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                            <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                            <p>
                                                                {{calories}} kcal
                                                                <br>
                                                                <a class="modal-action" data-toggle="modal" data-target="#viewFoodModal">
                                                                    <i class="fas fa-eye hyperlink"></i>&nbsp;<span class="hyperlink">Details</span>
                                                                </a>
                                                                &nbsp;
                                                                <a class="modal-action" data-toggle="modal" data-target="#editFoodModal">
                                                                    <i class="far fa-edit hyperlink"></i>&nbsp;<span class="hyperlink">Edit</span>
                                                                </a>
                                                            </p>
                                                        </div>

                                                    {{else}}
                                                        <h5 style="margin-bottom: 0; display: inline"><b>No dinner consumed</b></h5>
                                                    {{/each}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 meal-type" style="border-right: none;">
                                        <h5 style="margin-bottom: 0; display: inline"><b>Snacks</b></h5>
                                        <article class="food-journal">
                                            <header>
                                                <div class="food-subsection" logId="{{'FoodLogs.id'}}" logCreatedAt="{{'FoodLogs.createdAt'}}"
                                                foodItemId="{{id}}" foodName="{{name}}" foodCalories="{{calories}}" foodImage="{{imageLocation}}"
                                                shopId="{{'Shop.id'}}" shopName="{{'Shop.name'}}">
                                                    {{#each this.Snacks}}

                                                        <div class="foodItemLog" logId="{{'FoodLogs.id'}}" logCreatedAt="{{'FoodLogs.createdAt'}}" foodItemId="{{id}}"
                                                            foodName="{{name}}" foodCalories="{{calories}}" foodImage="{{imageLocation}}" shopId="{{'Shop.id'}}"
                                                            shopName="{{'Shop.name'}}">
                                                            <div id="time-created"> <i>{{'FoodLogs.createdAt'}}</i> </div>
                                                            <h4 style="margin-bottom: 0; display: inline"><b>{{name}}</b></h4>
                                                            <p>
                                                                {{calories}} kcal
                                                                <br>
                                                                <a class="modal-action" data-toggle="modal" data-target="#viewFoodModal">
                                                                    <i class="fas fa-eye hyperlink"></i>&nbsp;<span class="hyperlink">Details</span>
                                                                </a>
                                                                &nbsp;
                                                                <a class="modal-action" data-toggle="modal" data-target="#editFoodModal">
                                                                    <i class="far fa-edit hyperlink"></i>&nbsp;<span class="hyperlink">Edit</span>
                                                                </a>
                                                            </p>
                                                        </div>

                                                    {{else}}
                                                        <h5 style="margin-bottom: 0; display: inline"><b>No snacks consumed</b></h5>
                                                    {{/each}}
                                                </div>
                                            </header>
                                        </article>
                                    </div>

                                </div>
                                <h5 style="padding-top: 20px;">Total calories consumed: <b> {{this.dailyCalories}} </b> kcal </h5>
                                <hr>

                        {{else}}
                            {{#if searchDate}}
                                <h4><b>There was no food found on that date!</b></h4>
                            {{else}}
                                <h4><b>You have not added any food yet!</b></h4>
                            {{/if}}
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var allFoodItems = {{{ json allFoodItems }}}, availableTags = [];

    for (i = 0; i < allFoodItems.length; i++) {
        if (!availableTags.includes(allFoodItems[i].name)) availableTags.push(allFoodItems[i].name);
    }

    $("#foodInput").autocomplete({ source: availableTags });
    $('#foodInput')
    .bind("propertychange change click keyup input paste", function (event) {
        event.preventDefault();
        let searchQuery = $('#foodInput').val();

        $.ajax({
            type: 'post',
            url: `/user/searchFood`,
            data: { searchQuery },
            dataType: 'text'
        })
        .done(function (data) {
            var searchResultsName = JSON.parse(data)[0];
            var searchResultsId = JSON.parse(data)[1];

            if (searchResultsName.length) $('#userFoodCode').val(searchResultsName[0].id);
            else if (searchResultsId.length) $('#userFoodCode').val(searchResultsId[0].id);
            else $('#userFoodCode').val(0);
        });
    });

    $('.modal-action')
    .bind("click keyup", function (event) {
        const foodSubsection = $(this).parent().closest('div');

        var logId = jQuery(foodSubsection).attr("logId");
        var logCreatedAt = jQuery(foodSubsection).attr("logCreatedAt");
        var foodName = jQuery(foodSubsection).attr("foodName");
        var foodItemId = jQuery(foodSubsection).attr("foodItemId");
        var foodCalories = jQuery(foodSubsection).attr("foodCalories");
        var foodImageLocation = jQuery(foodSubsection).attr("foodImage");
        var shopId = jQuery(foodSubsection).attr("shopId");
        var shopName = jQuery(foodSubsection).attr("shopName");

        $('#viewFoodName').text(foodName);
        $('#viewFoodImage').attr("src", foodImageLocation);
        $('#viewFoodId').text(foodItemId);
        $('#viewFoodCalories').html(foodCalories);
        $('#viewFoodShop').text(shopName);
        $('#viewFoodShop').attr("href", `/user/shops/${shopId}`);

        $('#codeToChange').attr("placeholder", `Previous Entry - ${foodName} (code: ${foodItemId})`);
        $('#edit-food-form').attr("action", `/user/editFood/${logId}`);
        $('#delete-food-form').attr("action", `/user/deleteFood/${logId}`);
    });
</script>