{{> _msg }}
<div id="colorlib-container">
	<div class="container">

		<div class="modal fade" id="bmiModal" tabindex="-1" role="dialog" aria-labelledby="bmiModalLabel" data-keyboard="false" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title font_color" id="bmiModalLabel"><b>Add Your Height/Weight</b></h3>
						<br>
					</div>
		
					<form method="post" action="/user/addBmi" id="bmiForm">
						<div class="modal-body">				
							<div class="row form-group">
								<div class="col-md-12"><h6>Before we continue, please enter your height and weight so we can optimize your experience.</h6></div>
								<div class="col-md-6">
									<label>Height (m)</label>
									<input name="height" id="height" type="number" step="0.01" class="form-control" value=""
										placeholder="0 m" required>
								</div>
								
								<div class="col-md-6">
									<label>Weight (kg)</label>
									<input name="weight" id="weight" type="number" step="0.01" class="form-control" value=""
										placeholder="0 kg" required>
								</div>
							</div>
						</div>
						<div class="modal-footer ajaxErrBlock">
							<i class="fas fa-exclamation-triangle"></i>&nbsp; <span class="ajaxErrMsg"></span>
						</div>
						<div class="modal-footer">
							<input type="submit" value="Enter Your Info" id="bmiSend" class="btn btn-primary" style="width:100%">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="box1">
			<div class="row row-pb-md">
				<div class="col-md-12">
					<h1 class="font_color"><b>Recommended Shops Near You</b></h1>
					<h4>Current City: <b>{{user.location}}</b></h4>
					<hr>
				</div>
				<hr>

				{{#if user.location}}
					{{#each shops}}
						<div class="col-md-6 recommended-shops">
							<div class="blog-entry">
								<div class="blog-img">
									<a class="action" href="/user/shops/{{this.id}}"><img src="{{this.imageLocation}}" class="img-responsive" alt="Image of shop"></a>
								</div>
								<div class="desc">
									<p class="meta">
										<b class="vendors"><b>{{this.name}}</b></b><br>
										<span class="food_location"><b>{{ this.address }}</b></span><br>
										<span class="food_rating">Rating:&nbsp;
											{{#if this.rating}} 
											<b class="recommended-{{ this.isRecommended }}">
												{{#times this.rating}}
													<i class="fas fa-star"></i>
												{{/times}}
												{{#times (math 5 "-" this.rating)}}
													<i class="far fa-star"></i>
												{{/times}}
											</b>
											{{else}} 
												No rating available 
											{{/if}}
										</span>
										<br>
									</p>
								</div>
							</div>
						</div>
					{{else}}
						<div class="col-md-12">
							<h3 id="current_location"><b class="center_subtitle">There are no recommended shops near you</b></h4>
						</div>
					{{/each}}

				{{else}}
					<div class="col-md-12">
						<h4 id="current_location"><b>We could not detect your current location</b></h4>
					</div>
				{{/if}}

			</div>
		</div> 

		<div class="box1">
			<div class="row row-pb-md">

				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8">
							<h1 class="font_color"><b>Summary of your stats</b></h1>
							<h5>(based on the previous {{user.daysActive}} day{{#ifCond user.daysActive '>' 1}}s{{/ifCond}} with entries in food journal)</h5>
						</div>
						{{#ifCond user.daysActive '>=' 3}}
		
							<div class="col-md-4">
								<br>
								<div class="input-group">
									<label>Calorie Intake Filter</label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<select class="custom-select form-control selectCalorieFilter" id="selectCalorieFilter{{user.id}}"
										name="selectCalorieFilter" style="top:-0.7em;">
										<option value="Daily" selected>Daily</option>
										<option value="Breakfast">Breakfast</option>
										<option value="Lunch">Lunch</option>
										<option value="Dinner">Dinner</option>
										<option value="Snacks">Snacks</option>
									</select>
								</div>
							</div>
						</div>

						<hr>

						<div class="chartAreaWrapper">
							<canvas class="foodHistoryChart" id="foodHistoryChart{{user.id}}" width="400" height="180" style="margin-bottom:3em;"></canvas>
						</div>
					</div>
		
				{{else}}
					</div>
				</div>
				<div class="col-md-12">
					<hr>
					<h4><b>Keep adding more food to generate a detailed summary on your food intake!</b></h4>
				</div>
				{{/ifCond}}
			</div>
		</div>

	</div>
</div>


<script>
	userFoodLog = {{{ json groupedFoodItems }}};
    user = {{{ json user }}};

	if (user.daysActive >= 3) generateFoodLogChart(userFoodLog[user.id], user);
	if (!user.bmi) $('#bmiModal').modal('show');

	$('#bmiForm').submit(function (event) {
        event.preventDefault();
        let height = $('#height').val();
		let weight = $('#weight').val();

        $.ajax({
            type: 'post',
            url: `/user/addBmi`,
            data: { height, weight },
            dataType: 'text'
        })
        .done(function (rawData) {
			console.log(rawData)
            var data = JSON.parse(rawData);

            if (data.error) {
                $('.ajaxErrBlock').css("display", "block");
                $('.ajaxErrMsg').text(data.error);
            } else {
                $('#bmiModal').modal('hide');
            }
        });
    });
</script>