{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">


                    <div class="col-md-12 friend details">
                        <div class="blog-entry">
                            <h3 class="font_color">{{friend.name}} </h3>
                            {{!-- <a href="mailto:{{friend.email}}"><h3 class="font_color">{{friend.email}} </h3></a>
                                <p> User height: {{friend.height}} </p>
                                <p> User Weight {{friend.weight}}</p> --}}
                        </div>
                    </div>
                    
                    <div class="col-md-12 chat-history">
                        <div class="blog-entry">
                            {{#each message}}
                            <p class="speech-bubble-sender">{{this.Message}}</p> 
                            <p>{{formatTime createdAt}} </p>
                            {{!-- <a href="mailto:{{friend.email}}"><h3 class="font_color">{{friend.email}} </h3></a>
                                <p> User height: {{friend.height}} </p>
                                <p> User Weight {{friend.weight}}</p> --}}
                            {{/each}}
                        </div>
                    </div>



                </div>

                <div class="col-md-12 message bar">
                    <form method="post">
                        <input type="text" name="message" id="message">
                        <input type="hidden" name="receive" id="receive" value="{{friend.id}}"> 
                        <button type="submit" class="btn btn-primary btn-tall"><i class="fas fa-reply"></i></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>