{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12 friend details">
                    <div class="blog-entry">
                        <h1 class="font_color"><b>Chat History</b></h1>
                        <hr>
                    </div>

                    {{#each groupedMessages}}
                    <div class="padding: 20px;"><h6 class="text-center" style="font-weight: 800;">{{@key}}</h6></div>
                    <div class="col-md-12 chat-history" style="margin-bottom: 20px">
                        <div class="blog-entry">
                            {{#each this}}
                            {{#ifCond User1Id '!=' ../../user.id}}
                            <div class="row justify-content-start">
                                <div class="col-auto">
                                    <p class="speech-bubble-sender"><b>{{Message}}</b> <br>
                                        {{formatTime createdAt}}</p>

                                </div>
                            </div>
                            {{/ifCond}}
                            {{#ifCond User1Id '==' ../../user.id}}
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <p class="speech-bubble-receiver"><b>{{Message}}</b> <br>
                                        {{formatTime createdAt}} <br> <a href="/user/deleteMessage/{{id}}">
                                            <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete
                                        </a>
                                    </p>

                                </div>
                            </div>
                            {{/ifCond}}
                            {{/each}}
                        </div>
                    </div>
                    <hr align="center" width="30%">
                    {{/each}}

                    <form method="post" style="width: 100%; margin-top: 30px;">

                        <div class="row">
                            <div class="col-10">
                                <input type="text" class="form-control" name="message" id="message"
                                    placeholder="Type a message" required>
                            </div>
                            <div class="col-2">
                                <button type="submit" id="sendMessage" name="sendMessage"
                                    class="btn btn-primary btn-tall" style="width: 100%;"><i
                                        class="fas fa-reply"></i></button>
                                <input type="hidden" name="receive" id="receive" value="{{friend.id}}"><br>
                                <input type="hidden" name="refId" id="refId" value="{{chat.id}}"><br>
                                <div class="ajaxErrBlock" id="sendErrBlock">
                                    <i class="fas fa-exclamation-triangle"></i><span class="ajaxErrMsg"
                                        id="sendErrMsg"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let oriMessage = {{{json groupedMessages}}};
    let friendid = $('#receive').val();
    let referral = $('#refId').val();

    function checkNewMessages() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: `/user/checkMessages/` + referral,
            success: function (data) {
                {{!-- console.log(data["groupedMessages"], oriMessage) --}}
                if (JSON.stringify(data["groupedMessages"]) != JSON.stringify(oriMessage)) location.reload();
            },
            complete: function (data) {
                setTimeout(checkNewMessages, 1000);
            }
        });
    }

    setTimeout(checkNewMessages, 1000);
</script>