{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="col-md-12">
            <div class="box1">
                <div class="row row-pb-md">
                    <div class="col-md-12">

                        <header>
                            <h1 class="font_color"><b>User Settings</b></h1>
                            <h5>({{user.email}})</h5>
                            <hr>
                        </header>

                        <form method="post">

                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input name="name" id="name" type="text" class="form-control" value=""
                                        placeholder="{{user.name}}" style="margin-bottom: 1em;">
                                </div>

                                <div class="col-md-3">
                                    <label>Height (m)</label>
                                    <input name="height" id="height" type="number" step="0.01" class="form-control"
                                        value="" placeholder="{{user.height}} m">
                                </div>

                                <div class="col-md-3">
                                    <label>Weight (kg)</label>
                                    <input name="weight" id="weight" type="number" step="0.01" class="form-control"
                                        value="" placeholder="{{user.weight}} kg">
                                </div>

                                {{#if user.password}}
                                <div class="col-md-12 new-password">
                                    <label>Password</label>
                                    <input name="password" id="password" type="password" class="form-control delprefix"
                                        placeholder="(unchanged)">
                                </div>
                                {{/if}}
                            </div>
                            <br>
                            <input type="submit" name="action" value="Update Settings" class="btn btn-primary"
                                style="background-color: #4CAF50;">
                            <input type="submit" name="action" value="Delete Account" onclick="remove_confirm()"
                                class="btn btn-primary" id="remove-account" style="background-color: #d9534f;">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <header>
                        <h1 class="font_color"><b>Referral Codes</b></h1>
                        <h5>Your Code: {{user.refCode}}</h5>
                        <hr>
                    </header>

                    <form method="post" action="/user/addRefCode">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Add Referral Code</label>
                                <input name="refCode" id="refCode" type="text" class="form-control" value=""
                                    placeholder="Eg: a00001">
                            </div>
                        </div>

                        <br>
                        <input type="submit" name="action" value="Add Referral Code" class="btn btn-primary"
                            style="background-color: #4CAF50;">
                    </form>
                </div>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <header>
                        <h1 class="font_color"><b>Friend Activity</b></h1>
                        <hr>
                    </header>

                    {{#each referredUsers}}
                    <div class="row form-group">
                        <div class="col-md-12">
                            <a href="/user/userPage/{{ 'User.refCode' }}">
                                <h5 style="margin-bottom: 20px;"><b>{{ 'User.name' }}</b>&nbsp;(Code:
                                    {{ 'User.refCode' }})</h5>
                            </a>
                            <b>{{ 'User.height' }}</b> m
                            <b>{{ 'User.weight' }}</b> kg
                        </div>
                    </div>
                    <hr>
                    {{else}}
                    <h4><b>You have not referred any one yet!</b></h4>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <header>
                        <h1 class="font_color"><b>Your Messages</b></h1>
                        <hr>
                    </header>

                    {{#each friendedUsers}}
                    <div class="row form-group">
                        <div class="col-md-12">
                            <b>{{this.compliment}}</b> <br>
                            <b> Date Added: </b>
                            <b>{{formatDate this.createdAt 'DD-MM-YYYY'}}</b> <br>
                            <b> Date Updated: </b>
                            <b>{{formatDate this.updatedAt 'DD-MM-YYYY'}}</b>
                        </div>
                    </div>
                    <hr>
                    {{else}}
                    <h4><b>No one has left a message for you yet</b></h4>
                    {{/each}}

                </div>
            </div>
        </div>

    </div>
</div>

<script>
</script>