{{> _msg }}

<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">

                    <div class="col-md-6">
                        <div class="blog-img" style="overflow:hidden;">
                            <img src="{{shop.imageLocation}}" class="img-responsive shopImage"
                                alt="{{ shop.name }} Image">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="desc">
                            <p class="meta">
                                <h1 class="font_color"><b>{{ shop.name }}</b></h1>
                                <span class="thick">{{ shop.address }}</span>
                                <br>
                                <span class="food_rating">Rating:&nbsp;
                                    {{#if shop.rating}} 
                                    <b class="recommended-{{ shop.isRecommended }}">
                                        {{#times shop.rating}}
                                            <i class="fas fa-star"></i>
                                        {{/times}}
                                        {{#times (math 5 "-" shop.rating)}}
                                            <i class="far fa-star"></i>
                                        {{/times}}
                                    </b>
                                    {{else}} 
                                        No rating available 
                                    {{/if}}
                                </span>
                                <hr>
                                {{ shop.description }}
                            </p>
                        </div>
                    </div>

                </div>
                <br>
            </div>
            <br>

            <div class="row row-pb-md" style="padding: 0 2em 0 2em !important;">
                <div class="col-md">
                    <div class="blog-entry">
                        <h3 class="font_color"><b>Map</b></h3>
                    </div>
                    <hr>
                    <br>
                    <div id="map"></div>
                </div>
            </div>     

            <div class="row row-pb-md" style="padding: 0 2em 0 2em !important;">
                <div class="col-md">
                    <div class="blog-entry">
                        <h3 class="font_color"><b>Menu</b></h3>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="card-columns row-pb-md">
            {{#each foodItems}}
                <div style="" class="menuFood card p-3">
                    <div class="blog-img">
                        <img id="viewFoodImage" class="rounded mx-auto d-block img-responsive menuImage" src="{{ this.imageLocation }}" alt="Food Image">
                    </div>
                    <div class="text-center">
                        <h4 class="font_color" style="margin: 0; display: inline">
                            <b>{{ this.name }}</b>
                        </h4>
                        {{#if this.isRecommended}}
                            &nbsp;<b style="font-size:23px;"><i class="fas fa-thumbs-up"></i></b>
                        {{/if}}
                        <p style="margin-bottom: 0.4em;">(code: {{ this.id }})</p>
                        <h5><span class="thick">{{ this.calories }}</span> kcal</h5>
                    </div>
                </div>
            {{else}}
                <div class="col-md-12">
                    <h4><b>This shop has no food available currently!</b></h4>
                </div>
            {{/each}}
            </div> 
        </div>

        <div class="col-md-12" style="padding:0;">
            <span>Owned by <i>{{ vendor.name }} - <u><a href="mailto:{{ vendor.email }}" target="_top">{{ vendor.email }}</a></u></i></span>
            <hr>
        </div>

    </div>
</div>

{{#if user.location}}
    <script>
        let shopLatitude = {{{ shop.latitude }}}, shopLongitude = {{{ shop.longitude }}};
        let userLatitude = {{{ user.latitude }}}, userLongitude = {{{ user.longitude }}};
        let otherShops = {{{ json otherShops }}};
        let otherShopMarkers = [];

        function initMap() {
            let shopLocation = { lat: shopLatitude, lng: shopLongitude };
            let userLocation = { lat: userLatitude, lng: userLongitude };

            let userIcon = {
                url: "/images/user-marker.png",
                scaledSize: new google.maps.Size(27, 45),
            };

            let shopIcon = {
                url: "/images/shop-marker.png",
                scaledSize: new google.maps.Size(27, 45),
            };

            let directionsService = new google.maps.DirectionsService();
            let directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true });       
            let request = {
                origin: userLocation,
                destination: shopLocation,
                travelMode: google.maps.TravelMode.WALKING
            };
            
            let map = new google.maps.Map( document.getElementById('map'), { zoom: 16 } );

            let userMarker = new google.maps.Marker({ 
                position: userLocation, 
                map: map, 
                icon: userIcon, 
            });

            let shopMarker = new google.maps.Marker({ 
                position: shopLocation, 
                map: map,
                icon: shopIcon, 
            });

            let shopWindow = new google.maps.InfoWindow({
                content: '<h6 style="margin:0;">{{{ shop.name }}}</h6>' +
                         '<p style="margin:0;">{{{ shop.address }}}</h6>'
            });

            shopMarker.addListener('click', function() {
                shopWindow.open(map, shopMarker);
            });

            let otherShopWindow = new google.maps.InfoWindow();

            for (let i = 0; i < otherShops.length; i++) {
                let position = new google.maps.LatLng(otherShops[i].latitude, otherShops[i].longitude);

                otherShopMarkers[i] = new google.maps.Marker({
                    id: i,
                    position,
                    map,
                    label: otherShops[i].name[0],
                    address: otherShops[i].address,
                    shopId: otherShops[i].id,
                });

                let infoWindow = new google.maps.InfoWindow({
                    content: `<h6 style="margin:0;">${otherShops[i].name}</h6>` +
                             `<p style="margin:0;">${otherShops[i].address}</h6>`
                });

                google.maps.event.addListener(otherShopMarkers[i], 'click', function () {
                    window.location.replace(`/user/shops/${otherShopMarkers[this.id].shopId}`);
                    {{!-- infoWindow.open(map, otherShopMarkers[i]); --}}
                });
            }

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setMap(map);
                } else {
                    alert("Directions Request from your location to " + "{{{ shop.name }}}" + " failed: " + status);
                }
            });
            
            let bounds = new google.maps.LatLngBounds();
            bounds.extend(shopMarker.position);
            bounds.extend(userMarker.position);

            map.fitBounds(bounds);
        }
    </script>
{{else}}
    <script>
        let shopLatitude = {{{ shop.latitude }}}, shopLongitude = {{{ shop.longitude }}};

        function initMap() {
            let shopLocation = { lat: shopLatitude, lng: shopLongitude };
            
            let map = new google.maps.Map( document.getElementById('map'), { zoom: 17 } );

            let shopMarker = new google.maps.Marker({ 
                                position: shopLocation, 
                                map: map,
                                label: "{{{ shop.name }}}".charAt(0),
                            });

            map.setCenter(shopMarker.getPosition());
        }
    </script>
{{/if}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3Y-44lgOHZmGOV9TXTDxJ2vb2e2R_Cg&callback=initMap" async defer></script>