<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <img src="{{shop.imageLocation}}" class="img-responsive"
                                alt="{{ shop.name }} Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="desc">
                            <p class="meta">
                                <h1 class="font_color"><b>{{ shop.name }}</b></h1>
                                <span class="food_location"><b>{{ shop.address }}</b></span><br>
                                <span class="food_rating">Rating: <b class="recommended-{{ shop.isRecommended }}">{{ shop.rating }}</b></span>
                                <hr>
                                {{ shop.description }}
                            </p>
                        </div>
                    </div>
                </div><br>

                <div class="row row-pb-md" style="padding: 0 2em 0 2em !important;">
                    <div class="col-md">
                        <div class="blog-entry">
                            <h3 class="font_color"><b>Menu</b></h3>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row row-pb-md">

                {{#each foodItems}}
                <article class="food-journal">
                    <header>
                        <div id="vendor-food">
                            <h4 class="font_color" style="margin-bottom: 0; display: inline">
                                <b>{{ this.name }}</b></h4><br>
                            <p style="display: inline">(code: {{ this.id }})</p><br>
                            <p class="recommended-{{ this.isRecommended }}">{{ this.calories }} calories <br></p>
                        </div>
                    </header>
                </article>
                {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>