{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="modal fade" id="addRefModal" tabindex="-1" role="dialog" aria-labelledby="addRefModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="addRefModalLabel"><b>Add Referral Code</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="post" action="" id="refCodeForm">
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input name="refCode" id="refCode" type="text" class="form-control" value=""
                                        placeholder="Eg: a00001" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ajaxErrBlock">
                            <i class="fas fa-exclamation-triangle"></i><span class="ajaxErrMsg"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Enter Code" id="refCodeSend" class="btn btn-primary"
                                style="width:100%">
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title font_color" id="addRefModalLabel"><b>Send A Message</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="post" action="" id="messageForm">
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <span class="usernameMessage"></span>
                                    <input name="friendMessage" id="friendMessage" type="text" class="form-control"
                                        value="" placeholder="" required>
                                    <input name="friendName" id="friendName" type="text" class="form-control invisible"
                                        value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ajaxErrBlock">
                            <i class="fas fa-exclamation-triangle"></i><span class="ajaxErrMsg"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Send A Message" id="sendButton" class="btn btn-primary"
                                style="width:100%">
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <header>
                        <div class="row">
                            <div class="col-8 col-md-8">
                                <h1 class="font_color"><b>Friend Activity</b></h1>
                            </div>
                            <div class="col-4 col-md-4">
                                <a class="modal-action" data-toggle="modal" data-target="#addRefModal"
                                    style="float:right;">
                                    <input type="submit" name="action" value="Add Friend" class="btn btn-primary"
                                        style="background-color: #4CAF50;">
                                </a>
                            </div>
                        </div>
                        <hr>
                    </header>

                    {{#each referredUsers}}
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-12 col-lg-3 text-left ref-code-container"
                            refId="{{'Referrals.id'}}">
                            <h6 style="margin-bottom: 15px;">User Info</h6>
                            <h5 class="friend-user-info" style="margin-bottom: 10px;"><b>{{ name }}</b>&nbsp;-
                                {{ refCode }}</h5>
                            <h6 style="margin-bottom: 20px;">({{ email }})</h6>
                            <br>
                            <a href="/user/sendMessage/{{'Referrals.id'}}">
                            <button type="submit" class="messageButton btn btn-primary" name="messageButton"
                                value="Add Friend" style="background-color: #4CAF50;">Send Message</button>
                            </a>
                            <a href="/user/delRefCode/{{'Referrals.id'}}" class="card-link" data-toggle="confirmation"
                                data-title="Confirm delete?">
                                <i class="fas fa-trash-alt"></i>&nbsp;Delete
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                            <h6 style="margin-bottom: 5px;">Badges</h6>
                            <div class="row justify-content-center">
                                {{#each badges}}
                                <div class="col-3 col-sm-3 col-md-2 col-lg-3 col-xl-3 text-center badge">
                                    <h6 style="margin: 0"><b>{{'Badge.name'}}</b></h6>
                                    <img src="{{'Badge.imageLocation'}}" width="50px" height="50px"
                                        class="d-inline-block align-top" alt="Badge" data-toggle="tooltip"
                                        data-placement="bottom" title="{{'Badge.description'}}">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 text-right points-container">
                            <h6 style="margin-bottom: 0;">Points</h6>
                            <span style="font-weight:900; font-size: 30px;">{{ gainedPoints }}</span>
                            <br>
                            <a href="#">Points History</a>
                        </div>
                    </div>
                    {{#ifCond daysActive '>=' 3}}
                    <div class="accordion" id="chartAccordion{{id}}">
                        <div class="card-header text-center" id="chart{{id}}">
                            <button class="btn-none hyperlink" type="button" data-toggle="collapse"
                                data-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                                More Details&nbsp;<i class="fas fa-chevron-down"></i>
                            </button>

                        </div>
                        <div id="collapse{{id}}" class="collapse" aria-labelledby="chart{{id}}"
                            data-parent="#chartAccordion{{id}}">
                            <div class="card-body">
                                <h4><b>Food Intake Graph</b></h4>
                                <hr align="left" width="5%">
                                <canvas id="foodHistoryChart{{ id }}" width="400" height="180"></canvas>
                            </div>
                        </div>
                    </div>
                    {{/ifCond}}
                    <hr width="20%">
                    <hr width="20%">
                    {{else}}
                    <h4><b>You have not referred anyone yet!</b></h4>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <header>
                        <h1 class="font_color"><b>People who referred you </b></h1>
                        <hr>
                    </header>

                    {{#each mutualUsers}}
                    <div class="row form-group">
                        <div class="col-md-9">
                            <b>{{this.name}} </b> <br>
                            <b>{{this.email}} </b>

                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <hr>
                    {{/each}}
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    refUserFoodLog = {{{ json refUserFoodLog }}};
    referredUsers = {{{ json referredUsers }}};

    for (i = 0; i < referredUsers.length; i++) {
        for (let [userId, foodLog] of Object.entries(refUserFoodLog)) {
            console.log(foodLog)
            if (referredUsers[i].id == userId && referredUsers[i].daysActive >= 3) generateFoodLogChart(foodLog, referredUsers[i])
        }
    }

    $('#refCodeSend').click(function (event) {
        event.preventDefault();
        let selRefCode = $('#refCode').val();

        $.ajax({
            type: 'post',
            url: `/user/addRefCode`,
            data: { selRefCode },
            dataType: 'text'
        })
        .done(function (rawData) {
            let data = JSON.parse(rawData);

            if (data.error) {
                $('.ajaxErrBlock').css("display", "block");
                $('.ajaxErrMsg').text(data.error);
            } else {
                $('#refCodeSend').val("Loading...");
                $('#refCodeSend').attr("disabled", true);
                setTimeout(location.reload.bind(location), 1500);
            }
        });
    });

    {{!-- $('.messageButton').click(function (event) {
        event.preventDefault();
        const referrals = $(this).parent().closest('div');
        $('#messageModal').modal('show');
        let friendId = jQuery(referrals).attr("refId");
        $('#friendName').val(friendId);

    });

    $('#sendButton').click(function (event) {
        event.preventDefault();
        let sendMessage = $('#friendMessage').val();
        let friendId = $('#friendName').val();
        $.ajax({
            type: 'post',
            url: `/user/userPage`,
            data: { friendId, sendMessage },
            dataType: 'text'
        })
            .done(function (rawData) {
                let data = JSON.parse(rawData);

                if (data.error) {
                    $('.ajaxErrBlock').css("display", "block");
                    $('.ajaxErrMsg').text(data.error);
                } else {
                    $('#refCodeSend').val("Loading...");
                    setTimeout(location.reload.bind(location), 1500);
                }
            });
    });

    {
        {
            !--$('.messageButton').click(function (event) {
                event.preventDefault();
                const referrals = $(this).parent().closest('div');
                $('#messageModal').modal('show');
                let friendId = jQuery(referrals).attr("refId");
                $('#friendName').val(friendId);

            });

            $('#sendButton').click(function (event) {
                event.preventDefault();
                let sendMessage = $('#friendMessage').val();
                let friendId = $('#friendName').val();
                $.ajax({
                    type: 'post',
                    url: `/user/userPage`,
                    data: { friendId, sendMessage },
                    dataType: 'text'
                })
                    .done(function (rawData) {
                        let data = JSON.parse(rawData);

                        if (data.error) {
                            $('.ajaxErrBlock').css("display", "block");
                            $('.ajaxErrMsg').text(data.error);
                        } else {
                            setTimeout(location.reload.bind(location), 1500);
                        }
                    });
            }); --}
    }


</script>