{{> _msg }}
<div id="colorlib-container">
    <div class="container">

            <div class="modal fade" id="addRefModal" tabindex="-1" role="dialog" aria-labelledby="addRefModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title font_color" id="addRefModalLabel"><b>Add Referral Code</b></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
            
                        <form method="post" action="" id="refCodeForm">
                            <div class="modal-body">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input name="refCode" id="refCode" type="text" class="form-control" value=""
                                            placeholder="Eg: a00001">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer ajaxErrBlock">
                                <i class="fas fa-exclamation-triangle"></i>&nbsp; <span class="ajaxErrMsg"></span>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Enter Code" id="refCodeSend" class="btn btn-primary" style="width:100%">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box1">
                <div class="row row-pb-md">
                    <div class="col-md-12">

                        <header>
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="font_color"><b>{{user.name}}'s Overview</b></h1>
                                    <h5>({{user.email}})</h5>
                                </div>           
                                <div class="col-md-4">
                                    <a class="settings-action" href="/user/settings" style="float:right;">
                                        <input type="submit" name="action" value="Edit Info" class="btn btn-primary"
                                            style="background-color: #4CAF50;">
                                    </a>
                                </div>  
                            </div>
                            <hr>
                        </header>

                        <div class="row form-group">
                            <div class="col-md-3 text-left">
                                <h6 style="margin-bottom: 0;">Referral Code</h6>
                                <span style="font-weight:900; font-size: 30px;">{{ user.refCode }}</span>
                            </div>
                            <div class="col-md-6 text-center">
                                <h6 style="margin-bottom: 5px;">Badges</h6>
                                <div class="row justify-content-center">
                                {{#each userBadges}}
                                    <div class="col-md-3 text-center badge">
                                        <h6 style="margin: 0"><b>{{'Badge.name'}}</b></h6>
                                        <img src="{{'Badge.imageLocation'}}" width="50px" height="50px" class="d-inline-block align-top" alt="Badge"
                                            data-toggle="tooltip" data-placement="bottom" title="{{'Badge.description'}}">
                                    </div>
                                {{else}}
                                You have not earned any badges yet!
                                {{/each}}
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                <h6 style="margin-bottom: 0;">Points</h6>
                                <span style="font-weight:900; font-size: 30px;">{{ user.gainedPoints }}</span>
                                <br>
                                <a href="#">View Your Points History</a>
                                <br>
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-md-12">
                            <br><br>
                            <h4><b>Breakdown on meal-by-meal basis</b></h4>
                            <hr align="left" width="5%">
                            <div class="table-responsive">
                            <table class="table" style="width: 1020px;">
                                <thead class="thead-green">
                                    <tr>
                                        <th scope="col">Meal Type</th>
                                        <th scope="col">Ideal Calorie Intake</th>
                                        <th scope="col">Average Calorie Intake</th>
                                        <th scope="col">Est. Calories To Lose/Gain</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Breakfast (6am-10am)</th>
                                        <td>~500 kcal</td>
                                        <td>{{ user.averageBreakfastCalories }} kcal</td>
                                        <td>
                                            {{math "500" "-" user.averageBreakfastCalories}} kcal              
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Lunch (12am-3pm)</th>
                                        <td>~400 kcal</td>
                                        <td>{{ user.averageLunchCalories }} kcal</td>
                                        <td>
                                            {{math "400" "-" user.averageLunchCalories}} kcal
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dinner (6pm-10pm)</th>
                                        <td>~450 kcal</td>
                                        <td>{{ user.averageDinnerCalories }} kcal</td>
                                        <td>
                                            {{math "450" "-" user.averageDinnerCalories}} kcal
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Out-of-schedule snacks</th>
                                        <td>&lt;150 kcal</td>
                                        <td>{{ user.averageSnacksCalories }} kcal</td>
                                        <td>
                                            {{math "150" "-" user.averageSnacksCalories}} kcal
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Daily</th>
                                        <td>~1500 kcal</td>
                                        <td>{{ user.averageCalories }} kcal</td>
                                        <td>
                                            {{math "1500" "-" user.averageCalories}} kcal
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="box1">
                <div class="row row-pb-md">
                    <div class="col-md-12">

                        <header>
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="font_color"><b>Friend Activity</b></h1>
                                </div>           
                                <div class="col-md-4">
                                    <a class="modal-action" data-toggle="modal" data-target="#addRefModal" style="float:right;">
                                        <input type="submit" name="action" value="Add Friend" class="btn btn-primary"
                                            style="background-color: #4CAF50;">
                                    </a>
                                </div>  
                            </div>
                            <hr>
                        </header>

                        {{#each referredUsers}}
                        <div class="row form-group">
                            <div class="col-md-3 text-left">
                                <a href="/user/userPage/{{ refCode }}">
                                    <h4 style="margin-bottom: 10px;"><b>{{ name }}</b>&nbsp;- {{ refCode }}</h4>
                                    <h6 style="margin-bottom: 20px;">({{ email }})</h6>
                                </a>
                                <a href="/user/delRefCode/{{'Referrals.id'}}" class="card-link" data-toggle="confirmation" data-title="Confirm delete?">
                                    <i class="far fa-trash-alt"></i> Delete
                                </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <h6 style="margin-bottom: 5px;">Badges</h6>
                                <div class="row justify-content-center">
                                    {{#each badges}}
                                    <div class="col-md-3 text-center badge">
                                        <h6 style="margin: 0"><b>{{'Badge.name'}}</b></h6>
                                        <img src="{{'Badge.imageLocation'}}" width="50px" height="50px" class="d-inline-block align-top" alt="Badge"
                                            data-toggle="tooltip" data-placement="bottom" title="{{'Badge.description'}}">
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                <h6 style="margin-bottom: 0;">Points</h6>
                                <span style="font-weight:900; font-size: 30px;">{{ gainedPoints }}</span>
                                <br>
                                <a href="#">View Your Points History</a>
                            </div>
                        </div>
                        {{#ifCond daysActive '>=' 3}}
                        <br>
                        <canvas id="foodHistoryChart{{ id }}" width="400" height="180"></canvas>
                        {{/ifCond}}
                        <hr>
                        {{else}}
                        <h4><b>You have not referred anyone yet!</b></h4>
                        {{/each}}
                        
                    </div>
                </div>
            </div>

            <div class="box1">
                <div class="row row-pb-md">
                    <div class="col-md-12">

                        <header>
                            <h1 class="font_color"><b>Your Messages</b></h1>
                            <hr>
                        </header>

                        {{#each friendedUsers}}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{#if this.compliment}}
                                <b>{{this.compliment}}</b> <br>
                                <b> Date Added: </b>
                                <b>{{formatDate this.createdAt 'DD-MM-YYYY'}}</b> <br>
                                <b> Date Updated: </b>
                                <b>{{formatDate this.updatedAt 'DD-MM-YYYY'}}</b>
                                {{else}}
                                <h4><b>This message is deleted</b></h4>
                                {{/if}}

                            
                            </div>
                        </div>
                        <hr>
                        {{else}}
                        <h4><b>No one has left a message for you yet</b></h4>
                        {{/each}}
                    </div>
                </div>
            </div>


    </div>
</div>


<script>
    $('#refCodeSend').click(function (event) {
        event.preventDefault();
        let selRefCode = $('#refCode').val();

        $.ajax({
            type: 'post',
            url: `/user/addRefCode`,
            data: { selRefCode },
            dataType: 'text'
        })
        .done(function (rawData) {
            var data = JSON.parse(rawData);

            if (data.error) {
                $('.ajaxErrBlock').css("display", "block");
                $('.ajaxErrMsg').text(data.error);
            } else {
                location.reload();
            }
        });
    });

    refUserFoodLog = {{{ json refUserFoodLog }}};
    referredUsers = {{{ json referredUsers }}};
    
    for (i = 0; i < referredUsers.length; i++) {
        for (var [userId, foodLog] of Object.entries(refUserFoodLog)) {
            console.log(foodLog)
            if (referredUsers[i].id == userId && referredUsers[i].daysActive >= 3) generateFoodLogChart(foodLog, referredUsers[i])
        }
    }
</script>