{{#if user}}
<nav class="navbar navbar-light bg-white">
	<div class="container">
		<a class="navbar-brand" href="/user/">
			<img src="/images/healthhub-logo.png" width="65px" height="60px" class="d-inline-block align-top"
				alt="FoodHub.SG Logo">
			<span id="webname">FoodHub.SG</span>
		</a>
		
		{{#if user.isAdmin}}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/admin/vendors">View All Vendors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/shops">View All Shops</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/faq">FAQ</a>
			</li>
			<li class="nav-item settings nav-link">
				<a class="nav-link" id="settings-link" href="#">
					Welcome, <span id="nav-name">{{ user.name }}!</span>
				</a>
				<a class="nav-link" id="logout-link" href="/logout">
					Logout
				</a>
			</li>
		</ul>

		{{else if user.isVendor}}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/vendor/showShops">View Shops</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/vendor/addShops">Add Shops</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/vendor/showMenu">View Menu</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/vendor/addMenu">Add Menu</a>
			</li>
			<li class="nav-item settings nav-link">
				<a class="nav-link" id="settings-link" href="#">
					Welcome, <span id="nav-name">{{ user.name }}!</span>
				</a>
				<a class="nav-link" id="logout-link" href="/logout">
					Logout
				</a>
			</li>
		</ul>

		{{else}}
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/user/shops">Vendors near you</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/foodJournal">Food Journal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/faq">FAQ</a>
			</li>
			<li class="nav-item">
				<a href="/user/foodJournal"><button type="button" class="btn btn-success">Enter Food Code</button></a>
			</li>
			<li class="nav-item settings nav-link">
				<a class="nav-link" id="settings-link" href="/user/settings">
					Welcome, <span id="nav-name">{{ user.name }}!</span>
				</a>
				<a class="nav-link" id="logout-link" href="/logout">
					Logout
				</a>
			</li>
		</ul>
		{{/if}}
	</div>
</nav>
{{/if}}