
<div aria-live="polite" aria-atomic="true" style="z-index:1; position:relative;">
    <!-- Position it -->
    <div style="position: absolute; top: 30px; right: 15px;">
        {{#each unviewedNotifications}}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="100000">
            <div class="toast-header">
                <img src="/images/healthhub-logo.png" width="20px" height="20px" alt="FoodHub.SG Logo">
                &nbsp;
                <strong class="mr-auto"><b>FoodHub.SG</b></strong>
                <small class="text-muted">just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                You've <span class="{{this.type}}-action" style="font-weight:800;">{{this.action}}</span> from {{this.source}}! {{this.additionalMessage}}
            </div>
            {{#if this.callToAction}}
                <div class="toast-footer row">
                    <div class="col-6 text-center" style="border-right: 1px solid whitesmoke;">
                        <form method="post" action="{{this.callToActionLink}}" id="refCodeSend">
                            <button type="submit" style="border: 0;">
                                <span id="accept-action-{{@index}}" class="positive-action">Accept</span>
                            </button>
                        </form>
                    </div>
                    <div class="col-6 text-center" style="border-left: 1px solid whitesmoke;">
                        <button type="button" data-dismiss="toast" aria-label="Close" style="border: 0;">
                            <span class="negative-action">Reject</span>
                        </button>
                    </div>
                </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });

    $('#refCodeSend').click(function (event) {
        event.preventDefault();
        let selRefCode = $('#refCode').val();

        $.ajax({
            type: 'post',
            url: `/user/addRefCode`,
            data: { selRefCode },
            dataType: 'text'
        })
        .done(function (rawData) {
            var data = JSON.parse(rawData);

            if (data.error) {
                $('.ajaxErrBlock').css("display", "block");
                $('.ajaxErrMsg').text(data.error);
            } else {
                $('#refCodeSend').val("Loading...");
                setTimeout(location.reload.bind(location), 1500);
            }
        });
    });
</script>