{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12">
                <div class="row row-pb-md">
                    <div class="col-md-12">
                        <h1 class="font_color" style="display:inline-block;"><b>All Available Shops</b></h1>
                        <a href="/vendor/addShop"><button type="button" class="btn btn-success" style="float:right;">Add New Shop</button></a>
                         <form method="get" action="/searchShops"> 
                         <input type="text"  class="typeahead tt-query" spellcheck="false" autocomplete="off" id="search" name="search" class="font_color" style="display:inline-block;" placeholder="search">
                         <button><i class="fas fa-search"></i></button>
                        </form>
                        <hr>
                    </div>
                    
                    {{#each shops}}
                    <div class="col-md-6 recommended-shops">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a class="action" href="/vendor/editShop/{{this.id}}"><img src="{{this.imageLocation}}" class="img-responsive" alt="Image of shop"></a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <b class="vendors"><b>{{this.name}}</b></b><br>
                                    <span class="food_location"><b>{{ this.address }}</b></span><br>
                                    <span class="food_rating">Rating:&nbsp;
										{{#if this.rating}} 
										<b class="recommended-{{ this.isRecommended }}">
											{{#times this.rating}}
												<i class="fas fa-star"></i>
											{{/times}}
											{{#times (math 5 "-" this.rating)}}
												<i class="far fa-star"></i>
											{{/times}}
										</b>
										{{else}} 
											No rating available 
										{{/if}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>