<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">
                    <form method="post" action="" id="shop-form">
                        <div class="col-md-12">
                            <h1 class="font_color"><b>Edit Shop</b></h1>
                            <span>Owned by <i>Vendor - <u><a href="#">vendor@mail.com</a></u></i></span>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <div class="blog-entry">
                                <input type="file" id="venUpload" name="venUpload" accept="image/png,
 					image/jpeg,image/jpg,image/gif">


                                <img src="{{shop.imageLocation}}" class="img-responsive" id="venImage"
                                    alt="{{ shop.name }} Image">
                                <input id="imageURL" type="hidden" name="imageURL" value="{{shop.imageLocation}}">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="desc">
                                <p class="meta">
                                    <label>Shop Name</label>
                                    <input name="name" id="name" type="text" class="form-control"
                                        value="{{ shop.name }}" placeholder="Name">
                                    <label>Shop Address</label>
                                    <input name="address" id="address" type="text" class="form-control"
                                        value="{{ shop.address }}" placeholder="Address">
                                    <hr>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" form="description-form" class="form-control"
                                rows="4" cols="50">{{ shop.description }}</textarea><br>
                        </div>

                        <div class="row row-pb-md" style="padding: 0 2em 0 2em !important;">
                            <div class="col-md">
                                <div class="blog-entry">
                                    <h3 class="font_color"><b>Map</b></h3>
                                </div>
                                <hr>
                                <div id="map"></div>
                            </div>
                        </div>

                        <input name="location" id="location" type="text" class="form-control invisible" value="">
                        <input name="latitude" id="latitude" type="text" class="form-control invisible" value="">
                        <input name="longitude" id="longitude" type="text" class="form-control invisible" value="">


                        <div class="col-md-12">
                            <button type="submit" name="action" value="Update Shop Details" class="btn btn-primary"
                                style="background-color: #4CAF50;">Update</button>

                        </div>

                    </form>
                    <a href="/vendor/deleteShop/{{shop.id}}" style="color: #ffff;"><button type="submit" name="action"
                            value="Delete Shop" height="200"class="btn btn-primary" id="remove-shop"
                            style="background-color: #d9534f;">
                            Delete </a></button>

                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;"></div>
            <div class="row row-pb-md">
                t <div class="col-md-12">
                    <h1 class="font_color"><b>Edit Menu</b></h1>
                    <hr>
                </div>

                {{#each foodItems}}
                <article class="food-journal">
                    <header>
                        <div id="vendor-food">
                            <h4 class="font_color" style="margin-bottom: 0; display: inline"><b>{{ this.name }}</b></h4>
                            <a href="/vendor/editFoodItem/{{ this.id }}"><i class="fas fa-edit" style="float:right;font-size:1.2em;"></i></a>
                            <br>
                            <p style="display: inline">(code: {{ this.id }})</p><br>
                            <p class="recommended-{{ this.isRecommended }}">{{ this.calories }} calories <br></p>
                        </div>
                    </header>
                </article>
                {{/each}}

                <article class="food-journal">
                    <header>
                        <div id="vendor-food">
                            <a href="/vendor/addFoodItem"><i href="/vendor/addFoodItem" class="fas fa-plus-square" style="font-size: 3em;"></i>
                                <br>
                                <p style="display: inline"><b>Add Food Item</b></p>
                            </a>
                            <br>
                        </div>
                    </header>
                </article>

            </div>
        </div>
    </div>
</div>
</div>

<script>
    var shopLatitude = {{{ shop.latitude }}}, shopLongitude = {{{ shop.longitude }}};

    function initMap() {
        var shopLocation = { lat: shopLatitude, lng: shopLongitude };

        $("#location").val("{{{ shop.location }}}");
        $("#latitude").val(shopLatitude);
        $("#longitude").val(shopLongitude);

        var map = new google.maps.Map(document.getElementById('map'), { zoom: 14 });
        var marker = new google.maps.Marker(
            {
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: shopLocation,
            }
        );

        var bounds = fitToMarker(marker);
        map.fitBounds(bounds);

        google.maps.event.addListener(marker, 'dragend', function () {
            geocodePosition(marker.getPosition());
        });

        function geocodePosition(pos) {
            geocoder = new google.maps.Geocoder();
            geocoder.geocode(
                {
                    latLng: pos
                },
                function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#address").val(results[0].formatted_address);
                        $("#location").val(getCity(results));
                        $("#latitude").val(pos.lat());
                        $("#longitude").val(pos.lng());
                    }
                    else {
                        $("#mapErrorMsg").val('Cannot determine address at this location.' + status);
                    }
                }
            );
        }
    }

    function fitToMarker(marker) {
        var bounds = new google.maps.LatLngBounds();

        var latlng = marker.getPosition();
        bounds.extend(latlng);

        if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
            var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.001, bounds.getNorthEast().lng() + 0.001);
            var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.001, bounds.getNorthEast().lng() - 0.001);
            bounds.extend(extendPoint1);
            bounds.extend(extendPoint2);
        }

        return bounds;
    }

    function getCity(results) {
        if (results[1]) {
            var c, lc, component;
            for (var r = 0, rl = results.length; r < rl; r += 1) {
                var result = results[r];

                if (result.types[0] === 'neighborhood') {
                    for (c = 0, lc = result.address_components.length; c < lc; c += 1) {
                        component = result.address_components[c];

                        if (component.types[0] === 'neighborhood') {
                            console.log(component.long_name)
                            return component.long_name;
                        }
                    }
                }
            }
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3Y-44lgOHZmGOV9TXTDxJ2vb2e2R_Cg&callback=initMap" async
    defer></script>